/* style-main css */

/* font lists */
@font-face {
    font-family: 'menu';
    src: url('assets/fonts/TTBanditbulL.woff2') format('woff2'),
        url('assets/fonts/TTBanditbulL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'main-header';
    src: url('assets/fonts/awesome-webfont.woff2') format('woff2'),
        url('assets/fonts/awesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sub-header';
    src: url('assets/fonts/TTOhneulbamR.woff2') format('woff2'),
        url('assets/fonts/TTOhneulbamR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ONE Mobile Title';
    src: url('assets/fonts/ONEMobileTitleRegular.woff2') format('woff2'),
        url('assets/fonts/ONEMobileTitleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ONE Mobile';
    src: url('assets/fonts/ONEMobileRegular.woff2') format('woff2'),
        url('assets/fonts/ONEMobileRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenada';
    src: url('assets/fonts/Tenada.woff2') format('woff2'),
        url('assets/fonts/Tenada.woff') format('woff');
    font-style: normal;
    font-display: swap;
}


/* default */
* {
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(163, 106, 0, 0.1);
}
.background-image {
    position: absolute;
    width: 100%;
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
    transition: background-image 3s ease-in-out;
}

/* top bar */
.header-container {
    width: 100%;
    height: 333px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -220px;
}
.header-image {
    width: 200px;
}
.menu-bar {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

/* main menu items */
nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* main menu links */
nav>ul>li>a {
    color: white;
    font-family: 'Tenada', sans-serif;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    /* Add position relative to act as a positioned ancestor */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav>ul>li>a:hover {
    color: #555;
    /* Adjust the link color on hover */
}

/* sub-menu */
nav ul ul {
    display: none;
    position: absolute;
    top: 80%;
    /* adjust spacing between main menu and sub menu */
    left: -30px;
    /* adjust position */
    background-color: transparent;
    white-space: nowrap;
    /* Prevent text from wrapping to a new line */
    z-index: 1;
    /* Add a higher z-index to make sure the sub-menu appears on top */
}

/* sub-menu items */
.sub-menu li {
    display: inline-block;
    /* Change display to inline-block for horizontal layout */
}

/* sub-menu links */
.sub-menu li a {
    display: block;
    color: white;
    font-family: 'Tenada', sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* sub-menu hover */
nav ul li:hover>ul,
nav ul ul:hover {
    display: block;
}

.sub-menu a:hover {
    color: #555;
    /* Adjust the link color on hover */
}

/* hover stay visible */
nav li {
    position: relative;
}

nav li:hover>ul {
    display: block;
}




/* section */
section {
    position: relative;
    z-index: 2;
}

.main-header h1 {
    font-family: 'main-header', sans-serif;
    font-size: 200px;
    color: white;
    text-shadow: 3px 3px 3px rgb(0, 0, 0, 1);
    /* up,down,opacity */
    font-weight: 500;
    margin-bottom: -170px;
}

.intro-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allow content to wrap on smaller screens */
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: -99px;
}

.four-hexagons {
    position: relative;
    width: 200px;
    height: 500px;
    margin-top: 130px;
}

.hexagon {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(34, 33, 33, 0.5);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: all 0.3s ease;
    text-decoration: none;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: 'Button';
    color: white;
    /* Adjust the text color */
    text-align: center;
    line-height: 200px;
    /* Vertically center the text */
}

.hexagon::before {
    transform: translateY(-100%);
}

.hexagon::after {
    transform: translateY(100%);
}

.hexagon:hover {
    background-color: rgb(169, 191, 209, 0.8);
    /* Adjust the hover color as needed */
}

.hexagon:nth-child(1) {
    top: 150px;
    left: -119px;
    transform: translateX(0%);
}

.hexagon:nth-child(2) {
    top: 150px;
    left: 80px;
    transform: translateY(0%);
}

.hexagon:nth-child(3) {
    top: 1px;
    left: -20px;
    transform: translateY(0%);
}

.hexagon:nth-child(4) {
    bottom: 299px;
    left: 179px;
    transform: translateX(0%);
}

.hexagon h2 {
    font-family: 'ONE Mobile Title', sans-serif;
    font-size: 23px;
    /* Adjust the font size as needed */
    color: white;
    /* Adjust the color as needed (this is red) */
    text-shadow: 7px 7px 10px rgb(245, 221, 162);
    font-weight: bolder;
}

.image-pastor {
    width: 400px;
    margin-left: 100px;
    margin-right: -100px;
    -webkit-animation: fadeIn 1s 0s ease-in forwards;
    animation: fadeIn 1s 0s ease-in forwards;
    z-index: -1;
    margin-top: 20px;
}



/* direction */
.first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.first-row .image-time {
    width: 100%;
    max-width: 780px;
    height: auto;
    object-fit: cover;
}

/* youtube */
.youtube-video-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* Center the video container horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a box shadow for the container */
    background-color: white;
    /* Add a white background to the container */
    margin-top: 15px;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    /* Maintain a 16:9 aspect ratio for the video */
    height: 0;
    overflow: hidden;
}

.youtube-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* album */
.image-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allow content to wrap on smaller screens */
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
}

.image-stack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}



.content-image {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.container {
    float: left;
    width: 33.33333%;
}

.content {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 98%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-family: 'menu', sans-serif;
    font-weight: bold;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
}

.content-details p {
    color: #fff;
    letter-spacing: 0.15em;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

/* sns icons */
.icon-stack img {
    width: 10%;
    height: 10%;
}

/*
Changed: 
    - "What God saw was Good" resized
    - "first-row" restructured
*/
@media (max-width: 1280px) {
    .image-stack {
        max-width: 95%;
    }

    .main-header h1 {
        font-size: 150px;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-bar {
        width: 95%;
        /* Make the menu bar fill the container width */
        text-align: center;
        justify-content: center;
    }

    nav>ul {
        flex-direction: row;
        /* Display menu items in a row */
        justify-content: center;
        /* Center align the menu items horizontally */
        width: 80%;
        /* Make the menu items fill the container width */
        flex-wrap: wrap;
        /* Allow menu items to wrap to the next line */
    }

    nav>ul>li {
        margin-bottom: 30px;

    }

    .header-image {
        margin-top: 70px;
        margin-left: auto;
    }

    .main-header {
        margin-top: 220px;
    }
    .intro-row {
        margin-bottom: -130px;
    }
    .first-row {
        max-width: 100%;
    }
    
    .first-row .image-time {
        max-width: 60%;
        height: auto;
        object-fit: cover;
    }
    .first-row iframe {
        max-width: 40%;
        height: auto;
        border: none;
    }
    .youtube-video-container {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        /* Center the video container horizontally */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Add a box shadow for the container */
        background-color: white;
        /* Add a white background to the container */
        margin-top: 15px;
    }
    .container .content-image {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    .intro-row .image-pastor {
        width: 340px;
    }

}

@media (max-width: 1080px) {
    .main-header h1 {
        margin-bottom: -120px;
    }
    .youtube-video-container {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        /* Center the video container horizontally */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Add a box shadow for the container */
        background-color: white;
        /* Add a white background to the container */
        margin-top: 15px;
    }
    .container .content-image {
        height: 180px;
    }
    nav>ul {
        width: 95%;
        /* Make the menu items fill the container width */
    }

    nav ul ul {
        left: -100px;
        /* adjust position */
    }

    .intro-row .image-pastor {
        width: 300px;
    }

    .intro-row {
        margin-bottom: -80px;
    }

    .main-header h1 {
        font-size: 130px;
        /* Adjust the font size as needed */
    }

    .four-hexagons {
        position: relative;
        width: 200px;
        /* Adjust the size as needed */
        height: 500px;
        margin-top: 130px;
        margin-bottom: -143px;
    }

    .hexagon {
        width: 130px;
        /* Adjust the size as needed */
        height: 130px;
    }

    .hexagon:nth-child(1) {
        top: 3px;
        left: -14px;
        transform: translateX(0%);
    }

    .hexagon:nth-child(2) {
        top: 100px;
        left: 50px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(3) {
        top: 3px;
        left: 115px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(4) {
        bottom: 270px;
        left: 179px;
        transform: translateX(0%);
    }

    .hexagon h2 {
        font-size: 15px;
    }
    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .first-row .image-time {
        max-width: 60%;
        height: auto;
        object-fit: cover;
    }
    .first-row iframe {
        max-width: 40%;
        height: auto;
        border: none;
    }
}
@media (max-width: 800px) {
    nav>ul {
        width: 400px;
        /* Make the menu items fill the container width */
    }

    nav ul ul {
        left: -100px;
        /* adjust position */
    }
    nav>ul>li>a {
        font-size: 17px;
    }
    .sub-menu li a {
        font-size: 13px;
    }
    .main-header h1 {
        font-size: 100px;
    }
    .intro-row {
        margin-bottom: -97px;
    }
    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .first-row .image-time {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .first-row iframe {
        width: 100%;
        max-width: 100%;
        height: 300px;
        border: none;
    }
    .container .content-image {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .intro-row .image-pastor {
        width: 243px;
    }
    .four-hexagons {
        position: relative;
        width: 100px;
        /* Adjust the size as needed */
        height: 500px;
        margin-top: 130px;
        margin-bottom: -170px;
        margin-left: 30px;
    }

    .hexagon {
        width: 130px;
        /* Adjust the size as needed */
        height: 130px;
    }
    .hexagon:nth-child(1) {
        top: 3px;
        left: -54px;
        transform: translateX(0%);
    }

    .hexagon:nth-child(2) {
        top: 100px;
        left: 10px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(3) {
        top: 3px;
        left: 75px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(4) {
        bottom: 270px;
        left: 139px;
        transform: translateX(0%);
    }
    .content-details {
        font-size: 1.5vw;
        font-family: 'Menu', sans-serif;
    }
    .container .content-image {
        height: 130px;
    }
}

@media (max-width: 600px) {
    .main-header h1 {
        font-size: 80px;
    }
    .hexagon h2 {
        font-size: 13px;
    }
    .intro-row {
        margin-left: -100px;
    }
    .intro-row .image-pastor {
        width: 200px;
        margin-bottom: -45px;
    }
    .four-hexagons {
        position: relative;
        width: 100px;
        /* Adjust the size as needed */
        height: 500px;

    }

    .hexagon {
        width: 115px;
        /* Adjust the size as needed */
        height: 115px;
    }
    .hexagon:nth-child(1) {
        top: 25px;
        left: -41px;
        transform: translateX(0%);
    }

    .hexagon:nth-child(2) {
        top: 111px;
        left: 16px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(3) {
        top: 25px;
        left: 73px;
        transform: translateY(0%);
    }

    .hexagon:nth-child(4) {
        bottom: 274px;
        left: 130px;
        transform: translateX(0%);
    }






    .intro-row {
        margin-bottom: -100px;
    }


    .image-group {
        margin-top: 15px;
    }
    .container .content-image {
        height: 110px;
    }

}
@media (max-width: 500px) {
    nav>ul>li>a {
        font-size: 3.5vw;
    }
    .sub-menu li a {
        font-size: 2.5vw;
    }
    .main-header h1 {
        font-size: 13vw;
    }
    .hexagon {
        margin-left: 50px;
    }
    f {
        font-size: 2.5vw;
    }

}

h1, h2, .hexagon {
    -webkit-animation: fadeIn 1s 0s ease-in forwards;
    animation: fadeIn 1s 0s ease-in forwards;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 4px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 4px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}